body{
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
}





.FirstView{
    width: 100%;
    height: 100vh;
}

.MeinView{
    display: flex;
    position: relative;

    img{
        width: 720px;
        height: 360px;
        margin-top: 87px;
        margin-left: 40px;
    }

    .CatchCopy{
        font-size: 36px;

        .TopBack{
            margin-left: 4em;
        }
    }

    h1{
        font-size: 83px;
        color: #46A667;
        font-family: 'Rampart One', sans-serif;
        margin-top: 50px;
        margin-left: 10%;
    }
    
}

.DownFrame{
    display: flex;
    justify-content: end;

    .scroll{
        margin-right: 10%;
        margin-top: 80px;

        p{
            font-size: 20px;
        }
        
        img{
            margin-left: 28%;
        }
    }
}





.MainBox{
    position: relative;
    .rail{
        position: absolute;
        width: 100px;
        height: 2640px;
        left: 100px;
        top: 260px;
        /* margin-left: 100px; */
        /* margin-top: 260px; */
        background: url(../img/rail.png) no-repeat;
        z-index: 1;
    }

    .MainWrap{
        position: relative;
        display: flex;
        background: #D5EDDD;
        margin-top: 25px;

        .introduction{
            display: flex;

            .station{
                width: 214px;
                height: 110px;
                margin: 150px 0 auto 60px;
            }

            .explanation{
                h2{
                    margin-top: 170px;
                    margin-left: 5%;
                    font-size: 32px;

                    span{
                        font-size: 40px;
                        color: #46A667;
                        border-bottom: 8px double #46A667;
                    }
                }
                p{
                    font-size: 14px;
                    margin-top: 40px;
                    margin-left: 5%;
                    line-height: 50px;
                }
            }

            .woman{
                width: 240px;
                height: 300px;
                transform: scale(-1, 1);
                margin-top: 200px;
            }
        }
    } 

    .function{
        position: relative;

        > img{
            position: absolute;
            z-index: 2;
            width: 214px;
            height: 110px;
            margin: 150px 0 auto 60px;
        }

        h2{
            position: absolute;
            font-size: 32px;
            margin-left: 24%;
            margin-top: 170px;

            span{
                font-size: 40px;
                color: #46A667;
                border-bottom: 2px solid #46A667;
            }
        }

        .FirstBox{
            display: flex;
            margin-left: 100px;
            width: calc(100% - 100px);
            height: 750px;
            padding-top: 410px;
            justify-content: space-evenly;
            
            .countdown{
                width: 440px;
                height: 190px;
                border: #000 2px solid;
                background: #FFFBF6;
                text-align: center;
                h3{
                    font-size: 32px;
                    margin-top: 20px;
                }
    
                p{
                    font-size: 20px;
                    margin-top: -10px;
                }
    
                .rectangle{
                    width: 100%;
                    height: 25px;
                    background: #46A667;
                }
    
                .subheading{
                    font-size: 20px;
                    margin-top: 5px;
                }
    
                .Sentence{
                    font-size: 14px;
                    margin-top: 5px;
                }
    
                img{
                    width: 250px;
                    height: 504px;
                    margin-top: 50px;
                }
            }

            .notification{
                width: 440px;
                height: 190px;
                border: #000 2px solid;
                background: #FFFBF6;
                text-align: center;
    
                h3{
                    font-size: 32px;
                    margin-top: 20px;
                }
    
                p{
                    font-size: 20px;
                    margin-top: -10px;
                }
    
                .rectangle{
                    width: 100%;
                    height: 25px;
                    background: #46A667;
                }
    
                .subheading{
                    font-size: 20px;
                    margin-top: 5px;
                }
    
                .Sentence{
                    font-size: 14px;
                    margin-top: 5px;
                }
    
                img{
                    width: 250px;
                    height: 504px;
                    margin-top: 50px;
                }
            }
        }
        .LastBox{
            display: flex;
            margin-left: 100px;
            width: calc(100% - 100px);
            height: 880px;
            padding-top: 150px;
            /* margin-left: 300px; */
            justify-content: space-evenly;
            .TransferPlan{
                width: 440px;
                height: 190px;
                border: #000 2px solid;
                background: #FFFBF6;
                text-align: center;
    
                h3{
                    font-size: 32px;
                    margin-top: 20px;
                }
    
                p{
                    font-size: 20px;
                    margin-top: -10px;
                }
    
                .rectangle{
                    width: 100%;
                    height: 25px;
                    background: #46A667;
                }
    
                .subheading{
                    font-size: 20px;
                    margin-top: 5px;
                }
    
                .Sentence{
                    font-size: 14px;
                    margin-top: 5px;
                }
    
                img{
                    width: 250px;
                    height: 504px;
                    margin-top: 50px;
                }
            }
            .SectionRegistration{
                width: 440px;
                height: 190px;
                border: #000 2px solid;
                background: #FFFBF6;
                text-align: center;
    
                h3{
                    font-size: 32px;
                    margin-top: 20px;
                }
    
                p{
                    font-size: 20px;
                    margin-top: -10px;
                }
    
                .rectangle{
                    width: 100%;
                    height: 25px;
                    background: #46A667;
                }
    
                .subheading{
                    font-size: 20px;
                    margin-top: 5px;
                }
    
                .Sentence{
                    font-size: 14px;
                    margin-top: 5px;
                }
    
                img{
                    width: 250px;
                    height: 504px;
                    margin-top: 50px;
                }
            }
        }
    }   
}





footer{
    padding-left: 100px;
    width: calc(100% - 100px);
    height: 550px;
    background: #D5EDDD;
    display: flex;
    justify-content: center;
    position: relative;

    .station{
        width: 214px;
        height: 110px;
        top: 210px;
        left: 60px;
        /* margin: 210px 0 auto 60px; */
        position: absolute;
        z-index: 1;
    }
    .FooterStation{
        display: flex;
        .man{
            width: 280px;
            height: 370px;
            margin-top: 50%;
            /* margin-left: 50%; */
            position: relative;
            z-index: 2;
        }
    }

    .NowDownload{
        width: 550px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
        
        .download{
            display: flex;
            /* margin-top: 30%; */
            /* margin-left: 30%; */
            /* gap: 30px; */

            h3{
                width: 9em;
                height: 2em;
                font-size: 32px;
            }

            i{
                font-size: 2em;
                margin-top: 5px;
            }
        }

        .DownloadBtn{
            display: flex;
            /* margin-top: 10%; */
            /* margin-left: 20%; */
            /* gap: 30px; */

            .Apple{
                width: 240px;
                height: 76px;
                margin-top: 20px;
            }

            .Google{
                width: 306px;
                height: 118px;
            }
        }
    }
}